body {
    background-color: #000; /* Глубокий черный */
    color: #0f0; /* Хакерский зеленый */
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#terminal {
    width: 80%;
    border: 1px solid #0f0;
    padding: 20px;
    box-shadow: 0 0 15px #0f0;
}

.studio-logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}
